a {
    color:black;
}

body {
    margin: 0;
}

h1 {
    border-bottom: 1px black solid;
    margin:0;
    padding:20px;
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid > ol {
    margin:0;
    padding-top:20px;
    padding-left:25px;
    border-right:1px black solid;
}

#grid > div {
    margin: 25px;
}

@media (max-width:800px) {
    h1 {
        border-bottom:none;
    }
    h1 a {
        text-decoration: none;
    }

    #grid {
        display: inline;
    }

    #grid > div {
        margin: 10px;
    }
}